@page "/"
@inject IJobService JobService

<PageTitle>Job Tracking</PageTitle>

<div class="three-column-layout">
    <div class="col-job-list">
        <JobList Jobs="@_jobs" SelectedJob="@_selectedJob" OnJobSelected="@HandleJobSelected" OnAddJob="@HandleAddJob" />
    </div>
    <div class="col-job-detail">
        <JobDetail Job="@_selectedJob" OnMilestoneToggled="@HandleMilestoneToggled" />
    </div>
</div>

@if (_showAddJobModal)
{
    <AddJobModal Customers="@_customers" OnJobCreated="@HandleJobCreated" OnDismiss="@HandleDismiss" />
}

<style>
    .three-column-layout {
        display: flex;
        height: calc(100vh - 3.5rem);
        margin: -1rem -1.5rem;
    }
    .col-job-list {
        width: 320px;
        min-width: 280px;
        border-right: 1px solid #ddd;
    }
    .col-job-detail {
        flex: 1;
        overflow-y: auto;
    }
</style>

@code {
    private List<Job> _jobs = [];
    private Job? _selectedJob;
    private bool _showAddJobModal;
    private List<Customer> _customers = [];

    protected override async Task OnInitializedAsync()
    {
        _jobs = await JobService.GetJobsAsync();
    }

    private async Task HandleMilestoneToggled((int JobId, int MilestoneId, bool IsComplete) args)
    {
        var updated = await JobService.ToggleMilestoneAsync(args.JobId, args.MilestoneId, args.IsComplete);

        var index = _jobs.FindIndex(j => j.Id == args.JobId);
        if (index >= 0)
            _jobs[index] = updated;

        if (_selectedJob?.Id == args.JobId)
            _selectedJob = updated;
    }

    private void HandleJobSelected(Job job)
    {
        _selectedJob = job;
    }

    private async Task HandleAddJob()
    {
        _customers = await JobService.GetCustomersAsync();
        _showAddJobModal = true;
    }

    private async Task HandleJobCreated(CreateJobRequest request)
    {
        var created = await JobService.CreateJobAsync(request);
        _showAddJobModal = false;
        _jobs = await JobService.GetJobsAsync();
        _selectedJob = created;
    }

    private void HandleDismiss()
    {
        _showAddJobModal = false;
    }
}
